<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Админ панель</title>
    <link rel="stylesheet" href="/public/css/admin.css">
</head>

<body>

    <div class="main__container">
        <div class="main__title">
            <h3 id="title">
                <%= pageTitle%>
            </h3>
        </div>
        <div class="data__container">
            <div class="data__left-column">
                <div class="column-title__wrap">
                    <h4 class="column-title">
                        Перечень подключенных хабов
                    </h4>
                </div>

                <% if (slaves.length<=0) {%>

                <div class="item-hub">
                    <h4>Управляемые хабы отсутсвуют</h4>
                </div>

                <% } else { for (hub of slaves) { %>

                <div class="item-hub" onclick="openHub('<%= hub %>')">
                    <h4 class="url_source">
                        <%= hub %>
                    </h4>
                </div>
                <% } }%>
            </div>

            <div class="data__center-column" id="data__center-column">
                <h4 class="column-title">
                    Перечень устройств в хабе
                </h4>
            </div>
            <div class="data__right-column">
                <h4 class="column-title">
                    Данные устройства
                </h4>

                <table class="data__right-table" id="data-table">
                    <tr class="table-row">
                        <td class="table-column_name">название</td>
                        <td class="table-column_value" contenteditable="true">параметр</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-column_name">название</td>
                        <td class="table-column_value" contenteditable="true">параметр</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-column_name">название</td>
                        <td class="table-column_value" contenteditable="true">параметр</td>
                    </tr>

                </table>

                <div class="button-wrap" id="button_wrap">
                    <button class="button-item" onClick="addButton()">Добавить кнопку</button>
                    <button class="button-item" onClick="addSensor()">Добавить сенсор</button>
                    <button class="button-item" onClick="addActuator()">Добавить актуатор</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        function openHub(a) {
            fetch(a + '/devices')
                .then(result => {
                    return (result.json())
                })
                .then(result => {
                    let data = `<h4 class="column-title">Перечень устройств в хабе</h4>`;
                    if (Array.isArray(result.message)) {
                        for (let i = 0; i < result.message.length; i++) {
                            data = data +
                                `<div class="item-hub" onClick="openDevice('${a}', '${result.message[i]._id}')"><h4>${result.message[i].name}</h4></div>`
                        }
                    } else {
                        data = data + `<div class="item-hub"><h4>${result.message}</h4></div>`;
                    }
                    document.getElementById('data__center-column').innerHTML = data;

                })
                .catch(err => {
                    console.log(err)
                })

            fetch(a + '/hub')
                .then(result => {
                    return result.json();
                })
                .then(result => {

                    let row = '';
                    for (let key in result.message[0]) {
                        let row_item =
                            `<tr class="table-row">
                            <td class="table-column_name">${key}</td>
                            <td class="table-column_value" contenteditable="true">${result.message[0][key]}</td>
                        </tr>`
                        row = row + row_item;
                    }
                    document.getElementById('data-table').innerHTML = row;
                    document.getElementById('title').innerHTML = result.message[0].name;
                })
        }

        function openDevice(url, id) {

            let test_url = `${url}/device/${id}`
            console.log(test_url);
            fetch(test_url)
                .then(result => {
                    return result.json()
                })
                .then(result => {

                    let row = '';
                    for (let key in result.message[0]) {
                        let row_item =
                            `<tr class="table-row">
                        <td class="table-column_name">${key}</td>
                        <td class="table-column_value" contenteditable="true">${result.message[0][key]}</td>
                    </tr>`
                        row = row + row_item;
                    }
                    document.getElementById('data-table').innerHTML = row;
                })
        }


        function addButton() {
            let row_item =
                `<tr class="table-row">
             <td class="table-column_name">Имя кнопки</td>
            <td class="table-column_value source" contenteditable="true" id="name">Выключатель</td>
             </tr>
             <tr class="table-row">
             <td class="table-column_name">Описание</td>
             <td class="table-column_value source" contenteditable="true" id="description">Выключение света</td>
              </tr>
              <tr class="table-row">
              <td class="table-column_name">Статус устройства</td>
              <td class="table-column_value source" contenteditable="true" id="status">true</td>
               </tr>
                <tr class="table-row">
                <td class="table-column_name">Вкл/Выкл</td>
                <td class="table-column_value source" contenteditable="true" id="isOn">true</td>
                 </tr>
                 <tr class="table-row">
                 <td class="table-column_name">Тип устройства</td>
                 <td class="table-column_value source" contenteditable="false" id="model_type">button</td>
                  </tr>
                  </tr>
                  <tr class="table-row">
                  <td class="table-column_name">Выбрать хаб</td>
                  <td class="table-column_value" contenteditable="false">
                  <select id="select_hub">
                    <option>Пункт 1</option>
                    <option>Пункт 2</option>
                    </select>
                   </td>
                   </tr>
                 `;

            document.getElementById('data-table').innerHTML = row_item;


            let url_source = document.getElementsByClassName('url_source');
            let url = '';
            for (let i = 0; i < url_source.length; i++) {
                url = url +
                    `<option value="${url_source[i].innerHTML.trim()}">${url_source[i].innerHTML.trim()}</option>`;

            }
            document.getElementById('select_hub').innerHTML = url;

            
            document.getElementById('button_wrap').innerHTML =  `
            <button class="button-item" onClick="addButton()">Добавить кнопку</button>
            <button class="button-item" onClick="addSensor()">Добавить сенсор</button>
            <button class="button-item" onClick="addActuator()">Добавить актуатор</button>
            <button class="button-item" id="saveButton" onClick=${"safeButton(1)"}>Сохранить</button>`;
        }

        function safeButton(num) {
            let method = '';
            switch (num) {
                case 1:
                    method = 'POST'
                    break;
                case 2:
                    method = 'PUT'
                    break;
    }

                    let source = document.getElementsByClassName('source');
                    let obj = {};

                    for (let i = 0; i < source.length; i++) {

                        obj[source[i].getAttribute('id')] = source[i].innerHTML;
                    }

                    console.log(JSON.stringify(obj));
                    console.log(obj.model_type);
                    console.log(method);
                    console.log(document.getElementById('select_hub').value);


                    let test_url = document.getElementById('select_hub').value + '/' + obj.model_type;
                    // let test_url = 'localhost:2999/' + obj.model_type;
                      fetch(test_url, {
                        headers: {
                            'Content-Type': 'application/json'
                        },
                          method: method,
                          body: JSON.stringify(obj)
                      })
                      .then(result => {
                          return result.json()
                      })
                      .then(result=>{
                          console.log(result);
                      })


            
        }

        function addSensor() {
            let row_item =
                `
            <tr class="table-row">
            <td class="table-column_name">Имя сенсора</td>
            <td class="table-column_value source" contenteditable="true" id="name">Температурный сенсор</td>
             </tr>

             <tr class="table-row">
             <td class="table-column_name">Описание</td>
             <td class="table-column_value source" contenteditable="true" id="description">Точный сенсор</td>
              </tr>

              <tr class="table-row">
              <td class="table-column_name">Статус устройства</td>
              <td class="table-column_value source" contenteditable="true" id="status">true</td>
               </tr>

                <tr class="table-row">
                <td class="table-column_name">Вкл/Выкл</td>
                <td class="table-column_value source" contenteditable="true" id="isOn">true</td>
                 </tr>
                 
                 <tr class="table-row">
                 <td class="table-column_name">Напряжение</td>
                 <td class="table-column_value source" contenteditable="true" id="voltage">230</td>
                  </tr>

                  <tr class="table-row">
                  <td class="table-column_name">Ток нагрузки</td>
                  <td class="table-column_value source" contenteditable="true" id="amperage">1</td>
                   </tr>
                   <tr class="table-row">
                   <td class="table-column_name">Результат измерения</td>
                   <td class="table-column_value source" contenteditable="true" id="adjustment">20</td>
                    </tr>
                    <tr class="table-row">
                    <td class="table-column_name">Тип устройства</td>
                    <td class="table-column_value source" contenteditable="false" id="model_type">sensor</td>
                     </tr>
                     <tr class="table-row">
                     <td class="table-column_name">Выбрать хаб</td>
                     <td class="table-column_value" contenteditable="false">
                     <select id="select_hub">
                       <option>Пункт 1</option>
                       <option>Пункт 2</option>
                       </select>
                      </td>
                      </tr>
                 `;

            document.getElementById('data-table').innerHTML = row_item;

            let url_source = document.getElementsByClassName('url_source');
            let url = '';
            for (let i = 0; i < url_source.length; i++) {
                url = url +
                    `<option value="${url_source[i].innerHTML.trim()}">${url_source[i].innerHTML.trim()}</option>`;

            }
            document.getElementById('select_hub').innerHTML = url;
            
            document.getElementById('button_wrap').innerHTML =  `
            <button class="button-item" onClick="addButton()">Добавить кнопку</button>
            <button class="button-item" onClick="addSensor()">Добавить сенсор</button>
            <button class="button-item" onClick="addActuator()">Добавить актуатор</button>
            <button class="button-item" id="saveButton" onClick=${"safeButton(1)"}>Сохранить</button>`;
        }

        function addActuator() {
            let row_item =
                `
            <tr class="table-row">
            <td class="table-column_name">Название регулятора</td>
            <td class="table-column_value source" contenteditable="true" id="name">Регулятор открытия крана</td>
             </tr>

             <tr class="table-row">
             <td class="table-column_name">Описание</td>
             <td class="table-column_value source" contenteditable="true" id="description">Регулятор открытия крана</td>
              </tr>

              <tr class="table-row">
              <td class="table-column_name">Статус устройства</td>
              <td class="table-column_value source" contenteditable="true" id="status">true</td>
               </tr>

                <tr class="table-row">
                <td class="table-column_name">Вкл/Выкл</td>
                <td class="table-column_value source" contenteditable="true" id="isOn">true</td>
                 </tr>
                   <tr class="table-row">
                   <td class="table-column_name">Результат измерения</td>
                   <td class="table-column_value source" contenteditable="true" id="adjustment">20</td>
                    </tr>
                    <tr class="table-row">
                    <td class="table-column_name">Тип устройства</td>
                    <td class="table-column_value source" contenteditable="false" id="model_type">actuator</td>
                     </tr>
                     <tr class="table-row">
                     <td class="table-column_name">Выбрать хаб</td>
                     <td class="table-column_value" contenteditable="false">
                     <select id="select_hub">
                       <option>Пункт 1</option>
                       <option>Пункт 2</option>
                       </select>
                      </td>
                      </tr>
                 `;

            document.getElementById('data-table').innerHTML = row_item;

            let url_source = document.getElementsByClassName('url_source');
            let url = '';
            for (let i = 0; i < url_source.length; i++) {
                url = url +
                    `<option value="${url_source[i].innerHTML.trim()}">${url_source[i].innerHTML.trim()}</option>`;

            }
            document.getElementById('select_hub').innerHTML = url;

            document.getElementById('button_wrap').innerHTML =  `
            <button class="button-item" onClick="addButton()">Добавить кнопку</button>
            <button class="button-item" onClick="addSensor()">Добавить сенсор</button>
            <button class="button-item" onClick="addActuator()">Добавить актуатор</button>
            <button class="button-item" id="saveButton" onClick=${"safeButton(1)"}>Сохранить</button>`;
        }
    </script>

</body>

</html>