<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход в облако IoT устройств</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>


    <h1 class="index-title">ХАХА Платформа</h1>
    <a href="/admin">Админ панель</a>
    
</div>

</body>

</html>